/* The hero back */
.hero-back {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-color: #333333;

  /* Set a specific height */
  min-height: 30vh;

  /* Position and center the back to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the back */
.hero-text {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  color: white;
}

.container {
  text-align: left;
  margin: 20px;
  width: 100%;
}
